button {
  border-radius: 4px;
  padding: 6px 16px;
  font-size: 14px;
  font-family: inherit;
  color: #ffffff;
  background-color: #f9f9f962;
  cursor: pointer;
  border: none;
  letter-spacing: .1px;
  transition: transform 1120ms ease, box-shadow 1120ms ease, filter 1120ms ease;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  touch-action: manipulation;
}

/* hover (desktop) */
@media (hover: hover) {
  button:hover {
    filter: brightness(0.8);
  }
}

/* pressed (mouse down OR finger down) */
button:active {
  transform: translateY(1px) scale(0.997);
  filter: brightness(0.9);
}